/* You can add custom styles here. */

// @import "plugins/numbered";

h1 {
    display: block;
    font-size: 1.6rem;
    padding: .4rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--gray-100);
}

h2 {
    font-size: 1.35rem;
}

h2.book-brand {
    border-radius: .25rem;
    font-family: roboto mono, monospace;
    background: var(--gray-100);
    padding: .25rem;
}

h2.book-brand > a > span {
    padding-left: .25rem;
}

article.markdown {
    min-height: 18.75rem;
}

div.book-menu-content > nav > ul:last-child {
    margin-top: 2.25rem;
}

#book-search-input {
    padding: .75rem;
}

article.markdown img {
    margin: 1.5rem 0 1.5rem 1.5rem;
    float: right;
    border: 10px solid var(--gray-100);
    border-radius: .25rem;
    outline: 7px solid var(--gray-200);
}